[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/***********General rules**********/
* {
    box-sizing: border-box;
}

h2 {
    margin: 1%;
}

body {
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}

.centered-block {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.error-msg {
    color: orange;
}

.warning-msg {
    color: blue;
}

/*All images are responsive*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/************** Specific Rules **********/
xkcd-reader, xkcd-comic {
    display: block;
}

.ng-swap-forward.ng-enter {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.ng-swap-forward.ng-leave {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

.ng-swap-backward.ng-enter {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

.ng-swap-backward.ng-leave {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

/* Pure CSS loader from https://github.com/lukehaas/css-loaders */
.loader:before,
.loader:after,
.loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #ffffff;
        opacity: 0.5;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #ffffff;
        opacity: 1;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #b9b9b9;
        opacity: 0.5;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #ffffff;
        opacity: 1;
    }
}